<div class="footer-wrapper">
  <div class="footer-content">
    <nav class="footer-content-nav">
      <a href="#" class="footer-content-nav-link footer-font">Home</a>
      <a href="#" class="footer-content-nav-link footer-font">About me</a>
      <a href="#" class="footer-content-nav-link footer-font">Portfolio</a>
      <a href="#" class="footer-content-nav-link footer-font">Contact</a>
    </nav>
    <div class="footer-content-contacts footer-font">
      <p class="footer-content-text footer-font">Contacts:</p>
      <p class="footer-content-text footer-font">email: darya******@gmail.com</p>
      <p class="footer-content-text footer-font">inst.: darya*zakhar***</p>
      <p class="footer-content-text footer-font">calls: +375(29)8**-*0-**</p>
    </div>
    <div class="footer-extra">
      <div class="footer-extra-information">
      </div>
      <p class="footer-extra-information-copyright footer-font">Copyright © 2022</p>
      <a href="/" class="footer-extra-information-button"> 
          <svg width="60" height="60">
            <line x1="30" y1="15" x2="30" y2="45" style="stroke: white; stroke-width: 3"/>
            <polyline points="20,25, 30,15, 40,25" style="stroke: white; fill: none; stroke-width: 3;"/>
          </svg> 
      </a>
    </div>
  </div>
</div>