<div class="footer-wrapper">
  <div class="footer-content">
    <nav class="footer-content-nav">
      <a href="#" class="footer-content-nav-link footer-font">Home</a>
      <a href="#" class="footer-content-nav-link footer-font">About me</a>
      <a href="#" class="footer-content-nav-link footer-font">Portfolio</a>
      <a href="#" class="footer-content-nav-link footer-font">Contact</a>
    </nav>
    <div class="footer-content-contacts footer-font">
      <p class="footer-content-text footer-font">Contacts:</p>
      <p class="footer-content-text footer-font">email: daryazakhar@gmail.com</p>
      <p class="footer-content-text footer-font">inst.: darya_zakhar_pm</p>
      <p class="footer-content-text footer-font">calls: +375(29)863-80-37</p>
    </div>
    <div class="footer-extra">
      <div class="footer-extra-information">
      </div>
      <p class="footer-extra-information-copyright footer-font">Copyright © 2022</p>
      <div class="footer-extra-information-button"></div>
    </div>
  </div>
</div>