{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Programmer's portfolio{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'my_site/img/favicon.jpg' %}" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'my_site/css/style.css' %}">
</head>

<body class="main">
  <div class="main-content">
    {% block home %}
    <div class="home">
      <header class="home-header">
        {% include 'my_site/navigation.html' %}
        {% block home-title %}
        <div class="header-title">
          <div class="header-title-greeting">Hello</div>
          <div class="header-title-title">I'm Darya Zakhar</div>
          <div class="header-title-description">I am programming in Python, I have the skills of Django, SQL, HTML and
            CSS.
            Do you need a website, site design or programm in Python? Then write me</div>
          <a href="/my_request" class="header-title-action"><span class="header-title-action-text">Write me</span></a>
        </div>
        {% endblock home-title %}
        {% block home-developer %}
        <div class="developer">
          <div class="developer-photo"></div>
          <div class="developer-circle">
          </div>
        </div>
        <div class="developer-portfolio-buttons">
          <div class="developer-portfolio-button">
            <p class="developer-portfolio-button-text">Dj</p>
          </div>
          <div class="developer-portfolio-button">
            <p class="developer-portfolio-button-text">PY</p>
          </div>
          <div class="developer-portfolio-button">
            <p class="developer-portfolio-button-text">HTML</p>
          </div>
          <div class="developer-portfolio-button">
            <p class="developer-portfolio-button-text">SQL</p>
          </div>
        </div>
        {% endblock home-developer %}
      </header>
      {% block about-me %}
      <div id="about-me" class="about-me">
        <p class="about-me-text-my-skills">My skills</p>
        <div class="about-me-skills">
          <div class="about-me-skill">
            <div class="about-me-icon"></div>
            <p class="about-me-text">Python</p>
          </div>
          <div class="about-me-skill">
            <div class="about-me-icon"></div>
            <p class="about-me-text">SQL</p>
          </div>
          <div class="about-me-skill">
            <div class="about-me-icon"></div>
            <p class="about-me-text">Django</p>
          </div>
          <div class="about-me-skill">
            <div class="about-me-icon"></div>
            <p class="about-me-text">HTML/CSS</p>
          </div>
        </div>
        <div class="about-me-group">
          <div class="image-frames">
            <div class="about-me-image-wrapper">
              <div class="about-me-image1"></div>
            </div>
            <div class="about-me-image-wrapper">
              <div class="about-me-image2"></div>
            </div>
            <div class="about-me-image-wrapper">
              <div class="about-me-image3"></div>
            </div>
          </div>
          <div class="text-about-me">About me</div>
          <div class="description-about-me-frame">
            <div class="description-about-me">Hello again everyone! So, you already know that my name is Darya. A little
              about myself: programmer, 33 y.o., I love creativity since childhood, I live in
              Minsk, Belarus. Why programming? Everything is elementary - I like it, the profession of the future,
              thanks to which I can provide myself and fulfill my dream - travel, at the moment I specialize in Python development,
              front-end and back-end development, work with databases. Why should you choose me? I approach each
              order with great responsibility and love, as I want to make a name for myself, fully study the project, the client 
              and its target audience, work for quality, trying to make an
              order as quickly and uniquely as possible, taking into account all the edits and wishes.
              By trusting me, you will get the maximum return for your project, save your nerves and time.
              If you are interested in me , you want to know something more or use my services, then I will provide all my
              contacts below.</div>
          </div>
          <div class="cirecles">
            <div class="circle-white"></div>
            <div class="circle-orange"></div>
            <div class="circle-blue"></div>
          </div>
  
        </div>
      </div>
      {% endblock about-me %}
    </div>
    {% endblock home %}  
    {% block portfolio %}
    <div id="portfolio-content" class="portfolio-content">
      <div class="portfolio">portfolio</div>
      <div class="portfolio-text">I successfully completed Python developer courses. I got knowledge in OOP, SQLlite3 database, 
        framework Django, Git and GitHub.I learned the basics of frontend: JavaScript, HTML and CSS. I also learned the basics of 
        writing games for Pygame, parsing and telegram bots. I'm full of energy and open to new knowledge. I am actively looking for
        a job and I hope to be useful.</div>
      <div class="portfolio-frame">
        <div class="portfolio-image"></div>
      </div>
    </div>
    {% endblock portfolio %}
  </div>

  {% block footer %}
  <footer id="footer" class="footer">
    {% include 'my_site/footer_content.html' %}
  </footer>
  {% endblock footer %}
</body>

</html>