{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'my_site/css/style.css' %}">
</head>

<body class="main">
  <div class="home">
    <header class="home-header">
      <div class="home-header-logo">
        <img src="" alt="" />
        <p></p>
      </div>
      <nav class="home-header-nav">
        <a href="#" class="home-header-nav-link">Home</a>
        <a href="#about-me" class="home-header-nav-link">About me</a>
        <a href="#" class="home-header-nav-link">Portfolio</a>
        <a href="#footer" class="home-header-nav-link">Contact</a>
      </nav>
      <div class="header-title">
        <div class="header-title-greeting">Hello</div>
        <div class="header-title-title">I'm Darya Zakhar</div>
        <div class="header-title-description">I am programming in Python, I have the skills of Django, SQL, HTML and CSS. 
          Do you need a website, site design or programm in Python? Then contact me</div>
        <div class="header-title-action"><span class="header-title-action-text">Contact me</span> </div>
      </div>
      <div class="developer">
        <div class="developer-photo"></div>
        <div class="developer-circle">
        </div>
      </div>
      <div class="developer-portfolio-buttons">
        <div class="developer-portfolio-button">
          <p class="developer-portfolio-button-text">Dj</p>
        </div>
        <div class="developer-portfolio-button">
          <p class="developer-portfolio-button-text">Py</p>
        </div>
        <div class="developer-portfolio-button">
          <p class="developer-portfolio-button-text">html</p>
        </div>
        <div class="developer-portfolio-button">
          <p class="developer-portfolio-button-text">SQL</p>
        </div>
      </div>
    </header>

    <div id="about-me" class="about-me">
      <div class="about-me-skills">
        <div class="about-me-skill">
          <div class="about-me-icon"></div>
          <p class="about-me-text">Python</p>
        </div>
        <div class="about-me-skill">
          <div class="about-me-icon"></div>
          <p class="about-me-text">SQL</p>
        </div>
        <div class="about-me-skill">
          <div class="about-me-icon"></div>
          <p class="about-me-text">Django</p>
        </div>
        <div class="about-me-skill">
          <div class="about-me-icon"></div>
          <p class="about-me-text">html</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer id="footer" class="footer">
    <div class="footer-content">
      <nav class="footer-content-nav">
        <a href="#" class="footer-content-nav-link footer-font">Home</a>
        <a href="#" class="footer-content-nav-link footer-font">About me</a>
        <a href="#" class="footer-content-nav-link footer-font">Portfolio</a>
        <a href="#" class="footer-content-nav-link footer-font">Contact</a>
      </nav>
      <div class="footer-content-contacts footer-font">
        <p class="footer-content-text footer-font">Contacts:</p>
        <p class="footer-content-text footer-font">email: daryazakhar@gmail.com</p>
        <p class="footer-content-text footer-font">inst.: darya_zakhar_pm</p>
        <p class="footer-content-text footer-font">calls: +375(29)863-80-37</p>
      </div>
      <div class="footer-extra">
        <div class="footer-extra-information">
          <!-- div.footer-extra-information-logo-icon -->
        </div>
        <p class="footer-extra-information-copyright footer-font">Copyright © 2022</p>
        <div class="footer-extra-information-button"></div>
      </div>
    </div>
  </footer>
</body>

</html>