{% extends 'my_site/main.html' %}

{% block home %}
    {% include 'my_site/navigation.html' %}<br><br><br>
    <h2 class="color-letter">Write me letter</h2>
    <form action="" method="post">
        {% csrf_token %}<br>
        {{ form.title }}<br>
        {{ form.content }}<br>
        <button type="submit" class="btn btn-warning">Add a record</button>
    </form>
{% endblock %}
{% block about-me %}
{% endblock %}
{% block portfolio %}{% endblock %}

{% block footer %}{% include 'my_site/footer_content.html' %}{% endblock %}